Source: zynthbox-update-script
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.2

Package: zynthbox-update-script
Architecture: all
Description: Update Script for Zynthbox
  This package provides a script to update Zynthbox.
